# --- Flask core ---
flask==3.0.0
flask-login==0.6.3
flask-sqlalchemy==3.1.1
flask-migrate==4.0.7
flask-wtf==1.2.1
wtforms[email]==3.1.1

# --- Temps réel & WebSockets ---
flask-socketio==5.3.6
eventlet==0.36.1
redis==5.0.1

# --- Base de données ---
psycopg2-binary==2.9.9
alembic==1.13.1

# --- Outils sécurité & auth ---
bcrypt==4.1.2
email-validator==2.1.1

# --- Export / utils ---
pandas==2.2.2
openpyxl==3.1.5
reportlab==4.1.0

# --- Déploiement ---
gunicorn==23.0.0
