Flask==3.0.3
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
WTForms==3.1.2
SQLAlchemy==2.0.34
psycopg2-binary==2.9.9
Flask-SocketIO==5.3.6
python-socketio==5.11.3
eventlet==0.36.1
redis==5.0.7
gunicorn==23.0.0
itsdangerous==2.2.0
Flask-Migrate==4.0.7
alembic==1.13.2
