{% macro navbar() -%}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('core.index') }}">
      <i class="fa-solid fa-kit-medical me-2"></i>PCS
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="{{ url_for('events.list_events') }}"><i class="fa-solid fa-calendar-days me-1"></i>Événements</a></li>
        {# Ajoute ici d’autres onglets si besoin #}
      </ul>

      <ul class="navbar-nav ms-auto">
        {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link disabled">
              <i class="fa-solid fa-user me-1"></i>{{ current_user.display_name or current_user.email }}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth.logout') }}">
              <i class="fa-solid fa-right-from-bracket me-1"></i>Déconnexion
            </a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth.login') }}">
              <i class="fa-solid fa-right-to-bracket me-1"></i>Connexion
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
{%- endmacro %}
